
//Text COlors
.text-primary {
    color: $color-primary;
}
.text-secondary {
    color: $color-secondary;
}
.text-success {
    color: $color-success;
}
.text-primary {
    color: $color-primary;
}


// Font Sizes
.fs-20 {
    font-size: 20px;
}
.fs-30 {
    font-size: 30px;
}
.fs-40 {
    font-size: 40px;
}


// Font Weight
.fw-light {
    font-weight: 300;
}
.fw-normal {
    font-weight: 400;
}
.fw-bold {
    font-weight: 700;
}


