
body {
    &.admin-bar {
		.hsnav-s2 {
			top: 32px !important;
		}        
    }

    @include media(max-width, 782px) {
        
        &.admin-bar {
			.hsnav-s2 {
				top: 46px !important;
			}       
            
        }
    }
}

.home {
	header {
		position: absolute !important;
		top: 0;
		width: 100%;
		margin: 0 auto;

	}
}

/* Header Sticky Nav Style 2 */
header {
	z-index: 9999;
	position: relative !important;
	
	
	&.overlap {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 999;
	}

	&.show-menu {
		.hsnav-s2 {
			background: $color-dark !important;

				
			@include media (max-width, 1023px){

				.navbar {


					.navlogo {
						
						.logo-mob {
							display: block;
						}

						.logo {
							display: none;
						}
					}

				}
				
			}
		}
	}

	.hsnav-s2 {
		padding: 0 30px;
		background: $color-white;
		max-width: none !important;
		transition: all 0.3s ease;
		
		&.sticky {
			position: absolute;
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
		}
		&.is-stuck {
			position: fixed;
			background: $color-white;
			box-shadow: 0 3px 6px 0 rgba($color-black, 0.16);
		}

		.topbar {
			background: lighten($color-black, 20%);
			color:$color-white;
			font-size: 16px;
			min-height: 40px;

			a {
				color: $color-white;
				font-size: 14px;
				line-height: 1.2;
				padding: 12px 40px;
				text-transform: uppercase;
			}

			.top-phone {
				text-align: right;
				a {
					display: inline-block;
					padding: 5px 0;
					font-size: 18px;
					font-weight: 500;
				}
			}
			
			@include media(max-width, 1023px) {

			}
			
		}

		.navbar {
			position: relative;
			padding: 21px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.navlogo {
				.logo-mob {
					display: none;
				}
			}
			
			.navcall {	
				width: 345px;		

				a {
					font-size: 34px;
					font-weight: bold;
					color: lighten($color-black, 20%);
					display: inline-block;
					line-height: 1.2;
					letter-spacing: .5px;

					.icn-phone {
						transform: scale(1.5);
						margin: -2px 0 0 5px;
					}
				}


				img {
					float: right;
					margin: 0 0 0 10px;
					max-width: 60px;
				}	

				h6 {
					font-size: 16px;
					font-weight: normal;
					color: lighten($color-black, 50%);
					margin: 0;
				}
			}

			.navmenu {
				a {
					font-size: 20px;
					font-weight: 700;
					text-transform: uppercase;
					padding: 18px 30px;
					line-height: 1;
					color: $color-black;

					&:hover {
						color: $color-primary;
					}
				}

				.is-dropdown-submenu-parent > a:after {
					border:0;
					border-right: 2px solid;
					border-bottom: 2px solid;
					width: 8px;
					height: 8px;
					transform: rotate(45deg);
					right: 20px;
					margin-top: -6px;
				}

				.submenu {
					padding: 10px 0;
					li {
						display: block;
						a {
							padding: 15px 20px;
						}
					}
				}
				.nav-cta {
					a {
						background: $color-primary;
						color: $color-white;
						font-weight: bold;
						border-radius: 5px;

						&:hover {
							background: $color-secondary;
						}
					}
				}
			}
			
			.navicon {
				width: 50px; 
				height: 50px; 
				position: absolute;  
				right: 20px; 
				font-size: 0; 
				cursor: pointer; 
				display: block;

				&:before {
					content: ""; 
					position: absolute; 
					border-top: 2px solid $color-black; 
					border-bottom: 2px solid $color-black; 
					left: 14px; 
					top: 16px; 
					width: 24px; 
					height: 14px; 
					transition: all 0.5s ease;
				}
				&:after {
					content: ""; 
					position: absolute; 
					border-top: 2px solid $color-black; 
					left: 14px; 
					top: 22px; 
					width: 24px; 
					transition: all 0.5s ease;
				}
				@at-root header.show-menu .hsnav-s2 .navicon {
					&:before {
						box-shadow: none; 
						left: 14px; 
						top: 24px; 
						height: 3px; 
						transform: rotate(-45deg); 
						border-bottom: 0; 
						border-color: $color-white; 
					}
					&:after {
						width: 24px; 
						left: 14px; 
						top: 24px; 
						transform: rotate(45deg);
						border-color: $color-white; 
					}
				}

			}


			@include media(max-width, 1023px) {
				.mobmenu {
					position: fixed;
					top: 86px;
					height: 100vh;
					width: 0;
					right: -100%;
					background: $color-dark;
					transition:all 0.5s ease;
					overflow: auto;
					padding: 0 30px;
					color: $color-white;

					.contact_info {

						margin-top: 55px;
					}

					ul {
						display: block;
						margin: 0;
						padding:10px 0; 
						width: 100%;

						li.nav-cta {
							width: 100%;
							padding: 20px 0;
							background: $color-secondary;
							text-align: center;
							border-radius: 6px;
							margin-bottom: 35px;

							a {
								color: $color-white;
								text-transform: uppercase;
								font-weight: 700;
								padding:0;
							}

							&:hover {
								background: $color-primary;
							}
						}

						li:not(.nav-cta) {
							text-align: left;
							display: block;
							margin: 0;


							a {
								font-size: 14px; 
								line-height: 1.1; 
								font-weight: bold; 
								color: $color-white; 
								text-transform: uppercase; 
								padding:16px 0; 
								position: relative;

									
								&:before {
									content: "";
									background-size: 20px 10px;
									width: 20px;
									height: 10px;
									background-repeat: no-repeat;
									background-image: url(../img/icon/icn-arrow-right-blue.svg);
									display: inline-block;
									margin-right: 10px;
									left: 32px;
									top: 85%;
								}
							}
							ul {
								margin: 0;
								padding: 0;
								li {
									a {
										padding-left: 45px;
										text-transform: none; 
										text-align: left;  
									}
								}
							}
						}
					}

    				.submenu-toggle {
    					background:lighten($color-black, 90%)  url(../img/icon/icn-plus.svg) no-repeat 17px center / 15px; 
    					width:55px; 
    					height: 47px; 
    					right: 0;

    					&[aria-expanded="true"] {
    						background-image: url(../img/icon/icn-close-r.svg); 
    					}
    					&:after {
    						content: ""; border:0;
    					}
    				}
					
					@at-root header.show-menu .hsnav-s2 .mobmenu {
						display: block;
						width: 100%;
						right: 0;
					}

				}
			}
		}

		@include media(max-width, 1600px) {
			.navlogo {
				width: 350px;
			}
			.navbar {
				.navmenu {
					a {
						font-size: 18px;
						padding: 18px 20px;
					}
				}
			}
		}
		
		@include media(max-width, 1440px) {
			.navbar {
				padding: 19px 0;
			}
		}

		@include media(max-width, 1366px) {
			.navlogo {
				width: 250px;
			}
		}
		
		@include media(max-width, 1199px) {
			.navbar {
				.navmenu {
					a {
						font-size: 14px;
						padding: 18px 20px;
					}
				}
			}
		}

		@include media (max-width, 1024px){
			.navlogo {
				width: 210px;
			}
			.navbar {
				.navmenu {
					a {
						padding: 18px 10px;
					}
				}
			}
		}

		@include media (max-width, 1023px){
			
			padding: 0 18px;
		}
	}
}
